* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* main {
  border: 1px solid black;
  height: 200px;
} */

/* div {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

input {
  width: 100%;
  height: 3em;
  border-radius: 5px;
  border: solid 1px black;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

button {
  width: 100%;
  height: 3em;
  border-radius: 15px;
  color: white;
  background-color: #72A0C1;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blueprint {
  display: grid;
  grid-template-areas:
    'left center right'
    'left center right'
    'left center right'
    'left center right'
    'left center right'
    'left center right'
    'left center right'
    'left center right';
  height: 22em;
}

.room {
  /* border: solid 1px red; */
  margin: 0px 4px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hallway {
  border: solid 1px black;
  grid-area: center;
  height: 100%;
}

.done {
  background-color: lightgreen;
}

.strip {
  background-color: coral;
}

.scrub {
  background-color: lightblue;
}

.burnish {
  background-color: lightyellow;
}

.manifestDiv {
  position: relative;
}

.x {
  position: absolute;
  top: .8em;
  right: 1em;
}

.manifestDiv > p {
  font-size: 1.5em;
  margin-top: 4px;
  margin-bottom: 3px;
}

.dropdown-content {
  display: block;
}

button:hover {
  cursor: pointer;
}

.room:hover {
  cursor: pointer;
}

.drop-options {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #72A0C1;
  height: 2em;
}